<div class="mt-2">
    <h1>Hi! this is a test selector</h1>
    <p>You will find all test listed below, please, select 1: </p>
    
    <div class="row">
        <div class="col-xs-12">
            <a style="cursor:pointer;" class="list-group-item clearfix" (click)="openFizzBuzz()">
                FizzBuzz test
            </a>
            <a style="cursor:pointer;" class="list-group-item clearfix" (click)="openNasa()">
                NASA test
            </a>
            <a style="cursor:pointer;" class="list-group-item clearfix" (click)="openEmpire()">
                Empire test
            </a>
        </div>
    </div>
</div>