<div class="row">
    <div class="col-sm-12">
        <app-header [title]="'NASA Test'"></app-header>
        <form (ngSubmit)="testNasa()" #f="ngForm">
            <div class="row">
                <div class="col-sm-5">
                    <label for="nasa">Enter countdown seconds after launch</label>
                    <input type="text" id="nasa" class="form-control" [(ngModel)]="number" name="nasa" required #nasa>
                    <span class="help-block" *ngIf="!nasa.valid && nasa.touched">Enter a number</span>
                </div>
            </div>
            <button class="btn btn-success mt-2" type="submit" [disabled]="!f.valid">Start</button>
        </form>
    </div>
</div>

<hr>
<p>{{count === 0 ? 'Launch!!' : count}}</p>