<div class="row">
    <div class="col-sm-12">
        <app-header [title]="'Empire test'"></app-header>
        <form (ngSubmit)="testEmpireRegister()" #f="ngForm">
            <div class="row">
                <div class="col-sm-5">
                    <label for="rebel">Enter a rebel's name</label>
                    <input type="text" id="rebel" class="form-control" [(ngModel)]="rebel" name="rebel" required #reb>
                    <span class="help-block" *ngIf="!reb.valid && reb.touched">Enter a rebel's name</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 mt-1">
                    <label for="planet">Enter his planet name</label>
                    <input type="text" id="planet" class="form-control" [(ngModel)]="planet" name="fizz" required #pla>
                    <span class="help-block" *ngIf="!pla.valid && pla.touched">Enter a planet's name</span>
                </div>
            </div>
            <button class="btn btn-success mt-2" type="submit" [disabled]="!f.valid">Start Fizz</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr>
        <ul>
            <li *ngFor="let rebelRecorded of rebelsRecorded">
              Rebel: {{rebelRecorded.rebelName}} of planet: {{rebelRecorded.planetName}} at {{rebelRecorded.registerDate | date: "medium"}}
            </li>
        </ul>
    </div>
</div>
